In [3]:
tuple1 = (1,3,5,6)

In [9]:
tuple2 = (3,5,5.3,5.3,4.2,'string','in my tuple object')

In [10]:
tuple2

(3, 5, 5.3, 5.3, 4.2, 'string', 'in my tuple object')

In [11]:
tuple2.count (1)

0

In [12]:
tuple2.count (5.3)

2

In [13]:
tuple2.index (5)

1

In [14]:
tuple2.index ('string')

5

In [15]:
tuple1

(1, 3, 5, 6)

In [17]:
tuple1 + (4,5,6,7,'string','another string')

(1, 3, 5, 6, 4, 5, 6, 7, 'string', 'another string')

In [18]:
tuple1

(1, 3, 5, 6)

In [19]:
tuple1 = tuple1 + (4,5,6,7,'string','another element')

In [20]:
tuple1

(1, 3, 5, 6, 4, 5, 6, 7, 'string', 'another element')

In [21]:
tuple1*2

(1,
 3,
 5,
 6,
 4,
 5,
 6,
 7,
 'string',
 'another element',
 1,
 3,
 5,
 6,
 4,
 5,
 6,
 7,
 'string',
 'another element')

In [22]:
tuple1*4

(1,
 3,
 5,
 6,
 4,
 5,
 6,
 7,
 'string',
 'another element',
 1,
 3,
 5,
 6,
 4,
 5,
 6,
 7,
 'string',
 'another element',
 1,
 3,
 5,
 6,
 4,
 5,
 6,
 7,
 'string',
 'another element',
 1,
 3,
 5,
 6,
 4,
 5,
 6,
 7,
 'string',
 'another element')

In [23]:
tuple1

(1, 3, 5, 6, 4, 5, 6, 7, 'string', 'another element')

can't change tuple element once u create it

In [24]:
tuple1[3] = 'another element'

TypeError: 'tuple' object does not support item assignment

In [25]:
tuple1

(1, 3, 5, 6, 4, 5, 6, 7, 'string', 'another element')

In [26]:
del tuple1

In [27]:
tuple1

NameError: name 'tuple1' is not defined

In [28]:
tuple2

(3, 5, 5.3, 5.3, 4.2, 'string', 'in my tuple object')

In [29]:
del tuple2

When use tuple, immutability is necessary. It's provide a good source of data intergrity.